{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}
{% block content %}

<form method='post' id="reset_pass_demand_form">
    <fieldset>
        <legend>Réinitialiser mon mot de passe</legend>
        <div class='label_and_input'>
            <label for="email">Adresse mail</label>
            <input class='email_input' type="text" name='email'
                maxlength='50'>
        </div>

        <input class='login_button' type="submit" formaction='index.php?action=reset_pass_link' value="Envoyer">
        <input type="hidden" name='hidden_input_token' class="hidden_input_token" value={{ session.token }}>
        <p>Entrez l'adresse mail associé à votre compte</p>
    </fieldset>
    {% if session.flashMessage %}
            <p>{{ session.flashMessage }}</p>
        {% endif %}
</form>

{% endblock %}