<!DOCTYPE html>
<html lang="fr">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Multitap: Confirmation d'inscription</title>

        <style>
        
            #sent_email{
                width: 800px;
                margin: auto;
                text-align: center;
                background-color: rgba(249, 117, 88, 0.3);
            }

            #token_mail{
                margin-top: 20px;
                margin-bottom: 30px;
                text-align: center;
                width: 80%;
            }
        
        </style>

    </head>

    <body id='sent_email'>
        <h4>Bonjour {{ form.username }},</h4>
        <p> Afin de finaliser votre inscription et d'activier votre compte utilisateur sur Multitap, copiez le jeton ci-dessous dans la page de confirmation dans les 5 minutes<br>
            A très bientôt !
        </p>

        <p id='token_mail'>{{ session.token }}</p>
    </body>

</html>