<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Blog {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://kit.fontawesome.com/b524cca034.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <header>
        <!-- Navigation -->
            <nav>
                <div class="navbar">
                    <span><i class="fas fa-home"></i><a href='index.html'>ACCUEIL</a></span>
                    <span>|</span>
                    <span><i class="fas fa-gamepad"></i><a href='reviews.html'>LES REVIEWS</a></span>
                    <span>|</span>
                    <span><i class="fas fa-user"></i><a href='dashboard.html'>SE CONNECTER</a></span>
                    <span>|</span>
                    <span><i class="fas fa-clipboard-list"></i><a href='#'>S'INSCRIRE</a></span>
                </div>
            </nav>

        <!-- Page Header -->
    
            <div id="banner">
                <img id="headband" src="images/headband.jpg" alt="Bannière : Figurines de Mario, Luigi et Yoshi" />
                <h1>Bienvenue sur Multitap, où chaque avis compte !</h1>
            </div>
        </header>

        <section id='latest_reviews'>
            {% block content %}{% endblock %}
        </section>
        
        <footer class="footer text-center">
            <h3>Copyright Toto</h3>
        </footer>        
    </body>
</html>
