{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block content %}

<section id="mentions">

    <h1>Mentions légales</h1>

    <h3>Qui sommes-nous</h3>
    <p>
        Vous êtes sur le site web de Multitap : https://multitap.papajoueur.fr</br>
        Hébergement: O2 Switch</br>
        Adresse: 222 boulevard Gustave Flaubert, 63000 Clermond-Ferrand</br>
        Téléphone : 04 44 44 60 40</br>
    </p>

    <p>
        Directeur de la publication : Gérard HUBERT</br>
        Contact : admin@multitap.papajoueur.fr</br>
    </p>

    <h3>Quelles sont les données personnelles que nous collectonso et pourquoi</h3>

    <p>
        Lors de votre inscription sur Mutitap, nous enregistrons en base de données un nom d'utilisateur, un mot de passe ainsi que votre adresse mail.
    </p>
    <p>
        Ces données vous permettent d'avor accès aux fonctionnalités du site :
        création d'un compte, pouvoir laisser des commentaires, pouvoir poster des reviews...</br>
        Elles constituent par ailleurs une mesure de sécurité en cas de perte ou de modification du mot de passe</br>

        A tout moment, vous avez la posibilité de modifier ces informations ou de supprimer votre compte.</br>
        Dans ce cas, tous les commentaires que vous avez postés son supprimés.</br>
        Les reviews que vous avez postées sont cependant conservées, mais le nom "Anonyme" y remplacera votre nom d'utilisateur.
    </p>

    <h3>Combien de temps sont conservées vos données</h3>
    <p>
        <span>
            A l'exception des reviews, vos données sont conservées jusqu'à ce que votre compte soit supprimé.
        </span>
    </p>

    <h3>Contenu issu de sites tiers</h3>
    <p>
        <span>
            Multitap est basé sur l'API de Rawg.io qui constitue une base de données de jeux vidéo, d'informations
            et de médias que nous récupérons en fonction des reviews postées par les utilisateurs.
        </span>
    </p>

</section>
{% endblock %}