{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block content %}

<form method='post' id="login_form">
    <fieldset>
        <legend>Se connecter</legend>
        <div class='label_and_input'>
            <label for="username">Nom d'utilisateur</label>
            <input class='username_input' type="text" name='username'
                maxlength='50'
                placeholder='Au moins 1 caractère'>
        </div>
        <div class='label_and_input'>
            <label for="password">Mot de passe</label>
            <input class='password_input' type="password"
                name='password'
                placeholder='Au moins 6 caracatères'>
        </div>
        <input class='login_button' type="submit" formaction='index.php?action=log-in' value="Se connecter" disabled>
        <input type="hidden" name='hidden_input_token' class="hidden_input_token" value={{ session.token }}>
    </fieldset>

    {% if session.flashMessage == true %}
        <p>{{ session.flashMessage }}</p>
    {% endif %}
    
    <p><a href="index.php?action=forgotten_password">Mot de passe oublié ?</a> | <a href='index.php?action=new_token_page'>Activer mon compte</a></p>
</form>

{% endblock %}

{% block script %}
    <script src='js/LoginValidation.js'></script>
{% endblock %}