<!DOCTYPE html>
<html lang="fr">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Multitap: Reset mon mot de passe</title>

        <style>

            #token_mail{
                width: 30%;
            }

        </style>

    </head>

    {% autoescape false %}
    <body id='sent_email'>
        <h4>Bonjour {{ user.username }},</h4>
        <p>Vous recevez cet email car vous avez demandé à réinitialiser votre mot de passe</p>
        <p>Pour le réinitialiser, suivez le lien suivant, et saisissez-en un nouveau. Ce lien est valide uniquement pendant 5 minutes :</p>
        <p><a href="http://localhost:8000/index.php?action=reset_pass_page&id={{ user.userId }}&token={{ user.token }}">Reinitialiser mon mot de passe</a></p>
    </body>
    {% endautoescape %}

</html>