@font-face{
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'roboto-light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face{
    font-family: "roboto_bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face{
    font-family:"roboto_medium";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face{
    font-family: "roboto_black";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

html{
    font-family: roboto-light;
}

body{
    margin:0;
}

header, footer{
    width: 85%;
    margin: auto;
}

footer{
    margin-top: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6)
}

#footer_container{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

#contact, #author{
    font-family: roboto_bold;
    font-size: 1rem;
    color: #F97558;
}

#contact a, #author a{
    color: white;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

.navbar{
    width: 45%;
    display: flex;
    justify-content: space-between;
    font-family: roboto_black;
    color: #F97558;
}

.navbar a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

/*
*
*HOME
*
*/


#headband{
    width: 100%;
    height: 550px;
    position: relative;
    background-color: white;
}

#banner h1{
    position: absolute;
    color: white;
    top: 225px;
    right: 10%;
    top: 10%;
}

#latest_reviews{
    width: 85%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#latest_reviews h2{
    text-align: center;
}

#cards{
    width: 100%;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card{
    width: 30%;
    margin-top: 20px;
}

.thumbnail{
    width: 100%;
    height: 250px;
}

.thumbnail_title{
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.thumbnail_infos{
    position: relative;
    top: -54px;
    margin-bottom: -54px;
}

.author_comments{
    display: flex;
    justify-content: space-between;
}

.comments_number{
    width: 11%;
    display: flex;
    justify-content: space-between;
}

button{
    width: 20%;
    height: 40px;
    align-self: flex-end;    border-radius: 15px;
    font-family: 'roboto_bold';
    font-size: 0.9rem;
    background-color: #F97558;
    border: none;
}

/*
*
*ONE REVIEW
*
*/

#review_container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#review{
    width: 65%;
}

#review p{
    text-align: justify;
}

 #game_info{
     width: 30%;
     display: flex;
     flex-direction: column;
 }

 #game_info img{
     width: 100%;
     height: 250px;
 }

 .game_title{
     margin-top: 0;
     text-align: center;
 }

 #api_game_id{
     display: none;
 }

 #game_info ul{
    height: 180px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 #game_info ul li{
     list-style-type: none;
     font-family: roboto_bold;
 }

 .developers, .out, .genre, .platforms, .tags{
     font-family: roboto;
     font-size: 0.9rem;
 }

#comments_area{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

#comments_area #login_before_comment{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 117, 88, 0.3);
    font-family: roboto_black;
}

.comment{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 20px;
}

.comment_header{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: roboto_bold;
    font-size: 0.9rem;
    background-color: rgba(249, 117, 88, 0.3);
    padding-left: 10px;
    padding-right: 10px;
}

.comment_rank{
    height: 30px;
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.comment_content{
    padding: 10px;
    background-color: #F0EFEF;
    text-align: justify;
}

/**
*TOUTES LES REVIEWS
**/

#reviews_list{
    width: 85%;
    margin: auto;
}

.review_card{
    background-color:  rgba(249, 117, 88, 0.1);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.review_card img{
    width: 28%;
    height: 200px;
}

.review_details{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.review_title{
    margin-top: 0;
    margin-bottom: 0;
}

.review_extract{
    text-align: justify;
}

.read_full{
    justify-self: flex-end;
}

.read_full a{
    color: black;
}

.title_comments{
    width: 100%;
    display: flex;
}

.title_comments .comments_number{
    width: 4%;
    margin-left: 10px;
}

#pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**
*DASHBOARD  
**/

#dashboard_header{
    width:100%;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #451C93;
}

#dashboard_header a{
    margin-left: 20px;
}

#dashboard_header #username{
    padding-left: 2%;
}

#dashboard_header, #dashboard_header a{
    color: white;
    font-family: roboto_bold;
    font-size: 1.2rem;
}

#dashboard_content{
    display: flex;
}

#dashboard_nav{
    display: flex;
    align-items: flex-start;
    background-color: #451C93;
    width: 15%;
    height: 100%;
    position: fixed;
}

#dashboard_nav ul{
    height: 10%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#dashboard_nav ul li{
    width: 100%;
    list-style-type: none;
    font-family: roboto_bold;
    color: white;
}

#user_reviews{
    margin-left: 15%;
    width: 100%;
}

#reviews_table{
    width: 80%;
    margin: auto;
}

#reviews_table thead{
    background-color:  rgba(249, 117, 88, 0.3);
}

.dash_button{
    width: 100%;
}