<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" />
        <script src="https://kit.fontawesome.com/b524cca034.js" crossorigin="anonymous"></script>
        <script src="https://cdn.tiny.cloud/1/97xujt63v02pi5q8baozxw48t8ryhh838n540l6bholq34p2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

        <title id='page_title'>Multitap : {% block title %}{% endblock %}</title>
    </head>

    <body>
        
        <header id='dashboard_header'>
            <span id='username'>Gérard</span>
            <span id='user_rank'> | Administrateur | </span>
            <a href='index.php'><i class='fas fa-sign-out-alt'></i>Se déconnecter</a>
        </header>
        
        <main id='dashboard_content'>
        <nav id='dashboard_nav'>
            <ul>
                <li><a href='index.php?action=dashboard'>Mes reviews</a></li>
                <li><a href='index.php?action=new_review'>Nouvelle review</a></li>
                <li><a href='index.php?action=show_drafts'>Brouillons</a></li>
                <li><a href='index.php?action=show_comments_to_moderate'>Commentaires à modérer</a></li>
                <li>Reviews à valider</li>

            </ul>
        </nav>
        
        {% block content %} {% endblock %}
            
        </main>

        {% block javascript %}{% endblock %}

    </body>

</html>