{% extends '/backoffice/layout.html.twig' %}

{% block content %}

<section class="editor">
    <h1>Nouvelle review</h1>

    <div class="query">

        <label for="game-search">Rechercher un jeu:</label>
        <input type="search" id="game-search" name="game-search">

        <div class="platform_select_container">
            <span class='checkbox_legend'>Choisissez une plateforme: </span>
            <div id="platform_select">
                <input type='checkbox' class='box' name='pc' value="4">
                <label for='pc'>PC</laber>
            </div>
            <div id="platform_select">
                <input type='checkbox' class='box' name='playstation4' value='18'>
                <label for='playstation4'>Playstation 4</laber>
            </div>
            <div id="platform_select">
                <input type='checkbox' class='box' name='playstation5' value='187'>
                <label for='playstation5'>Playstation 5</laber>
            </div>
            <div id="platform_select">
                <input type='checkbox' class='box' name='xbox-one' value='1'>
                <label for='xbox-one'>XBox One</laber>
            </div>
            <div id="platform_select">
                <input type='checkbox' class='box' name='xbox-series-x' value='186'>
                <label for='xbox-series-x'>Xbox Series X/S</laber>
            </div>
            <div id="platform_select">
                <input type='checkbox' class='box' name='nintendo-switch' value='7'>
                <label for='nintendo-switch'>Switch</laber>
            </div>

            <button class='query_button'>Rechercher</button>
        </div>

    </div>

    <p id="query_message"></p>

    <div class="search_results"></div>

    <form class="review_form" method='post'>
        <input class='form_game_id' type='hidden' name='game_id' />
        <input type='hidden' name='token' />
        <p>Titre du jeu : <span class='form_game_title' type='text' name='game_title'></span></p>
        <div>
            <label for='review_title'>Titre de la Review</label>
            <input class='form_review_title' type='text' name='review_title' />
        </div>
        <textarea class="tinymceArea" name='tinymceArea'></textarea>
        <div class='buttons'>
            <input type='submit' formaction='index.php?action=save_draft' name='save_draft' value='Enregistrer le brouillon'/>
            <input type='submit' formaction='index.php?action=publish' name='publish' value='Publier'/>
            <input type='button' class='back_to_results' value='Retour aux résultats' />
        </div>
    </form>
</section>

{% endblock %}